__pycache__/
*.pyc
.DS_Store
data/schedule/*.csv
data/schedule/*.json
data/ranges/**/raw/
data/ranges/**/*.csv
data/ranges/**/*.json
data/seasons/**/*.csv
data/seasons/**/*.json
data/seasons/**/raw/
data/seasons/**/pitch/
data/matchups/**/*.csv
data/matchups/**/*.json
data/models/**/*.csv
data/models/**/*.json
data/models/**/*.svg
plots/**/*.svg
plots/**/*.html
